/*リセット*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 50px;
  background-color: #ff9a4b;
}

main {
  width: 100%;
  margin: 50px 0%;
}

section {
  display: flex;
  justify-content: center;
}

.wrapper {
  position: relative;
  width: 300px;
  margin: 0px 15px;
  background-color: #eeeeee;
}

.step {
  position: absolute;
  top: 0px;
  left: 0px;
  line-height: 30px;
  display: inline-block;
  text-align: center;
  color: #fff;
  background-color: #ff9a4b;
}

.content {
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  /*background-color: blue;*/
}

.img {
  height: 150px;
  background-color: red;
  background-size: cover;
  background-position: center;
}

.flow01 {
  background-image: url(Images/flow01.png);
}

.flow02 {
  background-image: url(Images/flow02.png);
}

.flow03 {
  background-image: url(Images/flow03.png);
}

.content h3 {
  margin-top: 15px;
  margin-bottom: 5px;
}

footer {
  height: 50px;
  background-color: #aaaaaa;
}

@media screen and (max-width: 768px) {
  header {
    width: 100%;
  }

  main {
    margin-top: 30px;
    width: 100%;
  }

  section {
    display: grid;
  }

  .wrapper {
    margin: 0 auto;
    margin-top: 20px;
    width: 90%;
  }

.img{
  background-position: bottom;
}

  footer {
    width: 100%;
  }
}
